<h4>M117PopUp Settings</h4>
<form class="form-horizontal" id="settings_plugin_M117PopUp_form">
	<div class="control-group">
		<label class="control-label">{{ _('Message Type') }}</label>
		<div class="controls">
			<select data-bind="options: msgTypes,optionsText: 'name',optionsValue: 'value',value: settingsViewModel.settings.plugins.M117PopUp.msgType"></select>
        </div>
    </div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.M117PopUp.msgType() != 'disabled'">
		<label class="control-label">{{ _('Auto Close') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.M117PopUp.autoClose,enabled: settingsViewModel.settings.plugins.M117PopUp.msgType() != 'disabled'">
        </div>
    </div>
	<div class="control-group" data-bind="visible: true">
		<label class="control-label">{{ _('Enable Speech') }}</label>
		<div class="controls">
			<input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.M117PopUp.enableSpeech">
        </div>
    </div>
	<div class="control-group" data-bind="visible: settingsViewModel.settings.plugins.M117PopUp.enableSpeech">
		<label class="control-label">{{ _('Voice') }}</label>
		<div class="controls">
			<select data-bind="options: voices,optionsText: 'name',optionsValue: 'value',value: settingsViewModel.settings.plugins.M117PopUp.speechVoice"></select>
        </div>
    </div>
	<div class="control-group">
		<div class="controls">
			<a href="#" class="btn btn-primary" data-bind="click: testPopUp"></a>
        </div>
    </div>
</form>